@import url('https://fonts.googleapis.com/css?family=Roboto');



.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

.small-width {
  width: 22px !important;
}

p.header-small {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: $secondary-color;
}

.header-offset-padding-x {
  padding-left: 40px;
}

.sig-offset-padding-x {
  position: relative;
  right: 10px;
}


hr {
  background: $pre-color;
  border:0;
  border-top:1px solid $pre-color;
  color: $pre-color;
  height:1px;
  margin:0;
}


p, ol li {
  font-family: Proxima-Light, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Proxima-Light, sans-serif;
  color: $dark-gray

}

h2 {
  letter-spacing: -1.5px;
  line-height: 25px;
}

h3 {
    letter-spacing: -1px;
    line-height: 28px;
    color: $dark-gray
  }

h4 {
  letter-spacing: -1px;
  line-height: 25px;
}

.font-bold {
  font-family: Proxima-Bold, sans-serif;
}

.font-extrabold {
  font-family: Proxima-ExtraBold, sans-serif;
}

ol {
  margin: 18px;
  padding: 0px;
}

ol li {
 color: $pre-color;
 font-family: Proxima-ExtraBold, sans-serif;
 margin: 20px 0px;
}

ol p {  
  padding: 0;
  color: $dark-gray;
  font-family: Proxima-Light, sans-serif;
}

a{
  color: $link-color;
}

.inline-block {
  display: inline-block;
}

.font-small {
  margin-top: 2px;
  font-size: 12px;
  letter-spacing: -0.5px;
  line-height: 18px;
}


.lightgrey-background {
  background: $light-gray !important;
}

.white-background {
  background: $white !important;
}

.orange-color {
  color: $link-color;
}

.banner-small {
  display: block;
  width: 100% !important;
  padding: 0;
}

.banner-large {
  display: none;

}

.table-width-full {
  width: 650px;
  background-color: $light-gray;
} 

table.button table td a {
  width: 150px;
  text-align: center; 
}

@media only screen and (max-width: #{$global-breakpoint}) {

  .table-width-full {
    width: 100% !important; 
  }

  th.columns.first.small-12 {
    padding-left: 25px !important; 
  }

  th.columns.last.small-12 {
    padding-right: 25px !important; 
  }   
}

@media all {
  @font-face {
    font-family: Proxima-Light;
    src: url("https://s2433.gridserver.com/clients/Flexigroup/HUMM/02-HUMM-SellerTransition/assets/fonts/ProximaNova-Light.otf"); 
  }
  @font-face {
    font-family: Proxima-ExtraBold;
    src: url("https://s2433.gridserver.com/clients/Flexigroup/HUMM/02-HUMM-SellerTransition/assets/fonts/ProximaNova-Extrabold.otf"); 
  } 
}