h1, h2, h3, h4, h5{
	color: $primary-color;
	font-family: ProximaNova-Extrabold, 'Arial Black', 'Arial Bold', sans-serif;
	font-size: 50px;
	line-height: 40px;
	letter-spacing: -2px;
	hyphens: none;
}

h1 {
	font-size: 57px;
	text-transform: capitalize;
}

h3 {
	color: $secondary-color;
	font-size: $h3-font-size;
	line-height: 20px;
	letter-spacing: -0.5px;
}

p, h6 {
	color: $dark-gray;
	line-height: 20px;
	hyphens: none;
	font-family: ProximaNova-Regular, Arial, sans-serif;
	letter-spacing: 0px;
	font-size: 16px;

}

h6 {
	font-size: 16px;
}

p.header-small a {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: $link-color;
}

.px-left {
	padding-left: 30px;
}

.icon-margin {
	margin-top: 5px;
}

table.button table td {
	background: #b8284c;
	background-color: $link-color;
	background-image: linear-gradient(to right, #b8284c, #103070);
	box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

table.button table a:hover {
	border: 0 solid #fff;
	background: linear-gradient(to left, #b8284c, #103070);
	border-radius: 30px;
}

a, a:visited {
	color: $link-color;
	text-decoration: none;
	// font-size: 16px;
}

a[href^='tel'] {
	color: inherit;
	text-decoration: none;
}

.pink {
	color: $link-color;
}

.link {
	color: $link-color;
}

.black-text p,
.black-text p small {
	color: $medium-gray;
	font-size: 14px;
	line-height: 1.3rem;
}

.black-text p a,
.black-text p small a {
	color: $link-color;
}

.banner-small {
	display: none;
}

.bold {
	font-family: ProximaNova-Extrabold, 'Arial Black', 'Arial Bold', sans-serif;
}

hr {
	background: $dark-gray;
	border: 0;
	border-top: 1px solid $dark-gray;
	color: $dark-gray;
	margin: 0;
}

.gray-HR {
	background: $dark-gray;
	border: 0;
	border-top: 1px solid $dark-gray;
	color: $dark-gray;
	margin: 0;
}

.red-HR {
	background: $primary-color;
	border: 0;
	border-top: 5px solid $primary-color;
	color: $primary-color;
	margin: 0;
}

.lightgray-HR {
	background: $light-gray;
	border: 0;
	border-top: 1px solid $light-gray;
	color: $light-gray;
	margin: 0;
}

.lightgray-background {
	background-color: $light-gray;
}

.mediumgray-background {
	background-color: $medium-gray;
}

.table-width-full {
	width: 100%;
}

.primary-color {
	color: $primary-color;
}
.charcoal-blue {
	color: #002d56;
}

.red-pink {
	color: #f0575b;
}

.black {
	color: $black;
}

.darkgray {
	color: $dark-gray;
}

.lightgray {
	color: #666666;
}

.text-increase {
	font-size: 1.1em;
}


@media only screen and (max-width: #{$global-breakpoint}) {
	table.body .columns {
		padding: 10px !important;
	}

	img.center {
		display: block;
		margin: 0 auto;
	}

	table.button table td a {
		font-size: 14px;
	}
}
@media all {
	@font-face {
		font-family: ProximaNova-Regular;
		src: url('http://s2433.gridserver.com/clients/Flexigroup/SKYE/fonts/ProximaNova-Regular.otf');
		
	}

	@font-face {
		font-family: ProximaNova-Light;
		src: url('http://s2433.gridserver.com/clients/Flexigroup/SKYE/fonts/ProximaNova-Light.otf');
	}

	@font-face {
		font-family: ProximaNova-Extrabold;
		src: url('http://s2433.gridserver.com/clients/Flexigroup/SKYE/fonts/ProximaNova-Extrabold.otf');
	}


}
