// Typography

p,
h1,
h3,
h4,
h5,
h6 {
  font-family: Proxima-Light, Arial, sans-serif;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-gray;
}

h2 {
  letter-spacing: -1.5px;
  line-height: 25px;
  font-size: 30px;
}

h3 {
  letter-spacing: -1px;
  line-height: 28px;
  color: $dark-gray;
}

h4 {
  letter-spacing: -1px;
  line-height: 25px;
}

p,
ol li {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.25px;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}

p.header-small, p.header-small a {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: $secondary-color;
}

p.header-small a {
  color: $link-color;
}

small p,
p small {
  font-size: 12px;
  font-size: 12px !important;
  line-height: 1.2em;
  line-height: 1.2em !important;
}

.bold {
  font-family: Proxima-ExtraBold, 'Arial Black', 'Arial Bold', sans-serif;
  font-weight: bold;
}


.font-small {
  margin-top: 2px;
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 18px;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;
}

// Colours

.lightgrey-background {
  background-color: $light-gray !important;
  background-color: $light-gray;
}

.backgoundcolor-background {
  background-color: $body-background !important;
  background-color: $body-background;
}

.white-background {
  background-color: $white !important;
  background-color: $white;
}

.orange-color {
  color: $link-color;
}

.lightgray-color {
  color: $light-gray;
}

.mediumgray-color {
  color: $medium-gray;
}

.darkgray-color {
  color: $dark-gray;
}

.underline-humm {
  // text-decoration: underline;
  // text-decoration-color: $link-color;
  border-bottom: 1.5px solid $link-color;
  display: inline-block;
}


// Utility

.no-margin {
  margin: 0 !important;
  Margin: 0;
}

.no-padding {
  padding: 0;
}

hr {
  background: $pre-color;
  border: 0;
  border-top: 1px solid $pre-color;
  color: $pre-color;
  height: 1px;
  margin: 0;
}

.table-width-full {
  width: 650px;
}


table.button table td a {
  text-align: center;
}



//Expanded fix for outlook

.button.expanded {
  td:not(.expander) {
    width: 100%;
  }
}


@media only screen and (max-width: #{$global-breakpoint}) {
  .table-width-full {
    width: 100% !important;
  }
  h1, h2, h3, h4, h5 {
    line-height: 1 !important;
    font-size: 23px !important;
    font-size: 23px;
  }
  table.body .columns {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  p, a {
    font-size: 16px !important;
    line-height: 1.3 !important
  }

  table.button.expanded a {
    padding-top: 23px !important;
    padding-top: 23px;
    padding-bottom: 23px !important;
    padding-bottom: 23px;

  }

}

// Custom Fonts

@media all {
  @font-face {
    font-family: Proxima-Light;
    // src: url('https://s2433.gridserver.com/clients/Flexigroup/fonts/ProximaNova-Light.otf');
    src: url('https://training.flexigroup.com.au/resources/ProximaNova-Light.otf');
  }
  @font-face {
    font-family: Proxima-ExtraBold;
    // src: url('https://s2433.gridserver.com/clients/Flexigroup/fonts/ProximaNova-Extrabold.otf');
    src: url('https://training.flexigroup.com.au/resources/ProximaNova-Bold.otf');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}
