// Typography

h1,
h2,
h3,
h4,
h5 {
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  line-height: 3rem;
}


h3 {
  line-height: 1.8rem;
}

p,
h6 {
  line-height: 1.4em;
  letter-spacing: 0px;
  font-family: 'Open Sans', Arial, sans-serif;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}

h6 {
  font-size: 20px;
  color: $primary-color;
  font-family: 'Open Sans Bold', Arial Black, Arial Bold, sans-serif;
}

.ginger-bold {
  font-family: 'Ginger-Bold', 'Open Sans Bold', 'Arial Bold', 'Arial Black',
    sans-serif;
    font-weight: bold;
}

.ginger-regular {
  font-family: 'Ginger-Regular', 'Open Sans', 'Arial', sans-serif;
}

.bold {
  font-family: 'Open Sans Bold', 'Arial Bold', 'Arial Black', sans-serif;
  font-weight: bold;
}

small p {
  color: $dark-gray;
  line-height: 1.5;
  font-size: 14px;
}

.heading-bold {
	font-family: Chapeau-Bold, 'Arial Bold', 'Arial Black', sans-serif;
}

.text-link {
  font-size: 20px;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;
}

a[href^='tel'] {
  color: inherit;
  text-decoration: none;
}

sup {
	line-height: 0;
}

.not-your-typical {
  font-size: 16px;
}


// Buttons

table.button table td {
	background: #b8284c;
	background-color: $link-color;
	background-image: linear-gradient(to right, #b8284c, #103070);
	box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

table.button table a:hover {
	border: 0 solid #fff;
	background: linear-gradient(to left, #b8284c, #103070);
	border-radius: 50px;
}


table.button.skye-button table td {
  background-color: $link-color;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to right, #b8284c, #103070) !important;
  background-image: linear-gradient(to right, #b8284c, #103070) !important;
  background-image: -webkit-gradient(to right, #b8284c, #103070) !important;
  background-image: -webkit-linear-gradient(to right, #b8284c, #103070) !important;
  background-image: -moz-linear-gradient(to right, #b8284c, #103070) !important;
  background-image: -ms-linear-gradient(to right, #b8284c, #103070) !important;
  background-image: -o-linear-gradient(to right, #b8284c, #103070) !important;
}


table.button.skye-button table td  a {
  letter-spacing: 2px;  
  font-family: Open Sans Bold, 'Arial Bold', 'Arial Black', sans-serif;   
  font-weight: bold; 
}

table.button.once-button table td {
  background-color: #009fce;
  background: #009fce;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0px;
}

table.button.lombard-button table td {
  background-color: #103070;
  background: #103070;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0px;
}

table.button.rounded.small-rounded table td {
  border-radius: 5px;
}

.button a {
  font-family: Chapeau-Bold, 'Arial Bold', 'Arial Black', sans-serif;  
  font-weight: bold;
}


// Colours

p,
h6 {
  color: $secondary-color;
}

h2 {
  color: $white;
}

h3 {
  color: $primary-color
}

.primary-color {
  color: $primary-color;
}

.lightgray-background {
  background-color: $light-gray;
}

.mediumgray-background {
  background-color: $medium-gray;
}

.darkgray-background {
  background-color: $dark-gray;
}

.pink-background {
  background-color: #bb284c;
}

.blue-background {
  background-color: #103070;
}

.lightblue-background {
  background-color: #009fce;
}

.pink {
  color: #b8284c;
}

.link {
  color: $link-color;
}

.lightgray {
  color: $light-gray;
}

.white {
  color: $white;
}

.white-bg {
  background-color: #fff;
}

.charcoal-blue {
  color: #103070;
}
.light-blue {
  color: #009fce;
}

.red-pink {
  color: #f0575b;
}

// Backgrounds

.bottom-clouds-bg {
  background-image: url("https://emarketing-au.s3-ap-southeast-2.amazonaws.com/598/sip49Baeh5zX1es3l4leJJRt614tV-up71W7_5di_FU/2245159.gif");
  background-repeat: no-repeat !important;
  background-position:  90% 90%;
}

// Utility

th.columns {
	padding-bottom: 0px;
}

.valign-middle {
  vertical-align: middle;
}

.box-shadow-container {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
}

.box-shadow-container-bottom {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
}

.border-radius-top {
  border-radius: 10px 10px 0 0;
  border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.border-radius-bottom {
  border-radius: 0 0 10px 10px;
  border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.border-radius {
  border-radius: 10px;
}

.font-size-16 {
  font-size: 16px;
}

.shadow {
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);
}

sup {
  line-height: 0;
}


.gray-HR {
  background: $dark-gray;
  border: 0;
  border-top: 1px solid $dark-gray;
  color: $dark-gray;
  margin: 0;
}

.lightgray-HR {
  background: $light-gray;
  border: 0;
  border-top: 1px solid $light-gray;
  color: $light-gray;
  margin: 0;
}

.mediumgray-HR {
  background: $medium-gray;
  border: 0;
  border-top: 1px solid $medium-gray;
  color: $medium-gray;
  margin: 0;
}

.red-HR {
  background: #B8284C;
  border: 0;
  border-top: 1px solid #B8284C;
  color: #B8284C;
  margin: 0;
}

.table-width-full {
  width: 100%;
}



//melon fix

table.button.expand table a,
table.button.expanded table a {
  // width: auto;
  // margin: 0 10px 0 10px;
  // Margin: 0 10px 0 10px;
}


// Custom Fonts

@media only screen and (max-width: #{$global-breakpoint}) {
  // Typography
  h1 {
    font-size: 40px;
    font-size: 40px !important;
    line-height: 2.5rem;
    line-height: 2.5rem !important;
  }

  h1.ginger-bold {
    font-size: 32px;
    font-size: 32px !important;
  }

  h2 {
    font-size: 30px;
    font-size: 30px !important;
		letter-spacing: 0.5px !important;
  }

  h3 {
    font-size: 27px;
    font-size: 27px !important;
		letter-spacing: 0.5px !important;
  }

  p {
		font-size: 18px;
		line-height: 1.5rem;
		font-size: 18px !important;
		line-height: 1.5rem !important;
  }

  p.sub-heading {
    font-size: 21px;
    font-size: 21px !important;
    line-height: 1.2em;
    line-height: 1.2em !important;
  }

  .not-your-typical {
    font-size: 16px;
    font-size: 16px !important;
  }

  small p,
  p small {
    font-size: 12px;
    font-size: 12px !important;
    line-height: 1.2em;
    line-height: 1.2em !important;
  }

  .small-text-center {
    margin: 0 auto;
    Margin: 0 auto;
    float: none;
    text-align: center;

  }

  // Button

  table.button table td a {
		font-size: 14px;
  }
  
  table.button.large table a {
    padding: 15px 0px 15px 0px;
    padding: 15px 0px 15px 0px !important;
    font-size: 23px;
    font-size: 23px !important;
    letter-spacing: 1px;
    letter-spacing: 1px !important;
  }

  // Background
  .bottom-clouds-bg {
    background-image: none;
    background-image: none !important;
  }

  // Utility

  img.center {
    display: block;
    margin: 0 auto;
  }  

  table.body .columns {
    padding: 20px;
    padding: 20px !important;
  }
}
//Expanded fix for outlook

.button.expanded {
  td:not(.expander) {
    width: 100%;
  }
}

@media all {
  @font-face {
    font-family: Chapeau-Bold;
    src: url('https://s2433.gridserver.com/clients/Flexigroup/fonts/Chapeau-Bold.otf');
    // src: url('https://fleximanila.bitbucket.io/assets/fonts/Chapeau-Bold.otf');
  }

  @font-face {
    font-family: Effra-Bold;
    src: url('https://s2433.gridserver.com/clients/Flexigroup/fonts/Effra-Bold.otf');
    // src: url('https://training.flexigroup.com.au/resources/Effra-Bold.otf');
  }

  @font-face {
    font-family: Ginger-Bold;
    src: url('https://s2433.gridserver.com/clients/Flexigroup/fonts/Ginger-Bold.otf');
    // src: url('https://training.flexigroup.com.au/resources/Ginger-Bold.otf');
  }

  @font-face {
    font-family: Ginger-Regular;
    src: url('https://s2433.gridserver.com/clients/Flexigroup/fonts/Ginger-Regular.otf');
    // src: url('https://training.flexigroup.com.au/resources/Ginger-Regular.otf');
  }

  @font-face {
    font-family: Lexia-Bold;
    src: url('https://s2433.gridserver.com/clients/Flexigroup/fonts/Lexia-Bold.otf');
    // src: url('https://training.flexigroup.com.au/resources/Lexia-Bold.otf');
  }
  @font-face {
    font-family: ProximaNova-Regular;
    src: url('uat.shophumm.com.au/themes/custom/humm/fonts/Proxima%20Nova/ProximaNova-Regular.otf');
  }

  @font-face {
    font-family: ProximaNova-Light;
    src: url('uat.shophumm.com.au/themes/custom/humm/fonts/Proxima%20Nova/ProximaNova-Light.otf');
  }

  @font-face {
    font-family: ProximaNova-Bold;
    src: url('uat.shophumm.com.au/themes/custom/humm/fonts/Proxima%20Nova/ProximaNova-Extrabold.otf');
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
      url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
      url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
}
