<!-- Heading + Three Columns Start with Thumbnails -->
<container class="background-white">
    <row>
      <columns>
        <spacer size="40"></spacer>
        {{{heading-pre}}}
        <!-- <h2 class="text-center">Larger heading</h2>
        <spacer size="20"></spacer> -->
        <div class="show-for-large">
          <table>
            <tr>
              <td style="text-align: center; width: 170px;">
                <!-- https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-thumb-1.png -->
                <img
                  src="{{thumb-1}}"
                  width="170" style="width: 170px;">
                <spacer size="10"></spacer>
                <table style="width: 90%; display: inline-block;">
                  <tr>
                    <td>
                      {{{heading-1}}}
                      <!-- <h6 class="text-center">Heading 1</h6> -->
                      {{{copy-1}}}
                      <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p> -->
                    </td>
                  </tr>
                </table>
              </td>
              <td style="width: 20px; text-align: center;"></td>
              <td style="text-align: center; width: 170px;">
                <img
                  src="{{thumb-2}}"
                  width="170" style="width: 170px;">
                <spacer size="10"></spacer>
                <table style="width: 90%; display: inline-block;">
                  <tr>
                    <td>
                      {{{heading-2}}}
                      <!-- <h6 class="text-center">Heading 2</h6> -->
                      {{{copy-2}}}
                      <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p> -->
                    </td>
                  </tr>
                </table>
              </td>
              <td style="width: 20px;"></td>
              <td style="text-align: center; width: 170px;">
                <img
                  src="{{thumb-3}}"
                  width="170" style="width: 170px;">
                <spacer size="10"></spacer>
                <table style="width: 90%; display: inline-block;">
                  <tr>
                    <td>
                      {{{heading-3}}}
                      <!-- <h6 class="text-center">Heading 3</h6> -->
                      {{{copy-3}}}
                      <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p> -->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div class="hide-for-large">
          <table>
            <tr>
              <td>
                <center>
                  <img
                    src="{{thumb-1}}">
                </center>
                <spacer size="20"></spacer>
                {{{heading-1}}}
                <!-- <h6 class="text-center">Heading Here</h6> -->
                {{{copy-1}}}
                <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p> -->
                <spacer size="30"></spacer>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <img
                    src="{{thumb-2}}">
                </center>
                <spacer size="20"></spacer>
                {{{heading-2}}}
                <!-- <h6 class="text-center">Heading Here</h6> -->
                {{{copy-2}}}
                <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p> -->
                <spacer size="30"></spacer>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <img
                    src="{{thumb-3}}">
                </center>
                <spacer size="20"></spacer>
                {{{heading-3}}}
                <!-- <h6 class="text-center">Heading Here</h6> -->
                {{{copy-3}}}
                <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p> -->
                <spacer size="30"></spacer>
              </td>
            </tr>
          </table>
        </div>
        <spacer size-lg="40"></spacer>
      </columns>
    </row>
  </container>
  <!--Heading + Three Columns Start with Thumbnails End -->