<!-- 2 Column Layout Photo Left Registor Button Start -->
<container class="background-white">
    <div class="show-for-large">
      <table style="width: 100%">
        <tr>
          <td style="width: 50%;"><img
              src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-column-1.png"
              width="290" style="width: 290px; display: inline;"></td>
          <td style="width: 20px;"></td>
          <td style="width: auto; vertical-align: middle; text-align: center;">
         
            <h3 class="text-center secondary-color">It’s a ski lodge for surfers – combining uncrowded A-frame waves
              with resort-style amenities.</h3>
            <br>
            <h3 class="text-center secondary-color">Register to visit our showroom</h3>
            <spacer size="30"></spacer>
            <button href="#" class="large primary no-border" target="_blank">Register</button>
          </td>
          <td style="width: 30px;"></td>
        </tr>
      </table>
    </div>
    <div class="hide-for-large">
      <table style="width: 100%">
        <tr>
          <td><img
              src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-column-1.png">
          </td>
        </tr>
      </table>
      <table style="width: 100%">
        <tr>
          <td style="width: 20px;"></td>
          <td style="text-align: center;">
            <spacer size="30"></spacer>
            <h3 class="small-text-center">It’s a ski lodge for surfers – combining uncrowded A-frame waves with
              resort-style amenities.</h3>
            <h3 class="small-text-center">Register to visit our showroom</h3>
            <spacer size="15"></spacer>
          </td>
          <td style="width: 20px;"></td>
        </tr>
      </table>
      <center>
        <table class="background-white">
          <tr>
            <td style="text-align: center;">
              <button href="#" class="large primary no-border" target="_blank">Register</button>
            </td>
          </tr>
        </table>
      </center>
      <spacer size="30"></spacer>
    </div>
  </container>
  <!-- 2 Column Layout Photo Left Registor Button End -->