 <!-- 2 Column Layout Photo Right Start -->
 <container>
    <div class="show-for-large">
      <table class="background-white" style="width: 100%">
        <tr>

          <td style="width: 20px;"></td>
          <td style="width: auto; vertical-align: middle;">
            <spacer size="20"></spacer>
            <h2>{{title}}</h2>
            <p>{{{paragraph}}}</p>
            <spacer size="20"></spacer>
          </td>
          <td style="width: 30px;"></td>
          <td style="width: 50%; text-align: right;"><img
              src="{{img}}"
              width="290" style="width: 290px; display: inline;"></td>
        </tr>
      </table>
    </div>
    <div class="hide-for-large">
      <table class="background-white" style="width: 100%">
        <tr>
          <td><img
              src="{{img}}">
          </td>
        </tr>
      </table>
      <table class="background-white" style="width: 100%">
        <tr>
          <td style="width: 20px;"></td>
          <td>
            <spacer size="30"></spacer>
            <h2 class="small-text-center">{{title}}</h2>
            <p class="small-text-center">{{{paragraph}}}</p>
            <spacer size="30"></spacer>
          </td>
          <td style="width: 20px;"></td>
        </tr>
      </table>
    </div>
  </container>
  <!-- 2 Column Layout Photo Right End -->