<!-- The Design Face Start -->
<container>
    <row>
      <columns>
        <table class="background-white">
          <tr>
            <td>
              <spacer size="30"></spacer>
              <h2 class="text-center secondary-color">The design</h2>
              <spacer size="10"></spacer>
              <table class="background-white">
                <tr>
                  <td style="width: 20px;">
                  </td>
                  <td style="text-align: center;">
                    <img
                      src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-body-3.png"
                      width="512" style="width: 512px; display: inline;">
                    <spacer size="40"></spacer>
                    <div class="show-for-large">
                      <table width="100%" style="width: 100%;">
                        <tr>
                          <td style="width: 50%;">
                            <p style="line-height: 140%;">A leading Australian architectural mind, Kelvin Ho’s honest and relaxed design was a most
                              welcome addition to the team at Wisemans Surf Lodge. From Merivale hotspots to Bassike and
                              Dion Lee, his creative eye has been responsible for some of Sydney’s most recognisable
                              spaces and is now fixed on bringing to life a playful boutique resort with minimal
                              environmental impact.</p>
                          </td>
                          <td style="width: 20px;"></td>
                          <td style="width: 246px; text-align: center;">
                            <table style="display: inline-block; background-color: #FBFBFB; ">
                              <tr>
                                <td colspan="4" height="30" style="height: 30px; text-align: center; background-color: #ffffff; vertical-align: bottom;">
                                  <img
                                    src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-team-2-tophalf.png"
                                    width="60" style="width: 60px; display: inline-block; vertical-align: bottom;">
                                </td>
                              </tr>
                              <tr>
                                <td style="width: 20px;"></td>
                                <td style="text-align: center; vertical-align: top;">
                                  <img
                                    src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-team-2-bottomhalf.png"
                                    width="60" style="width: 60px; display: inline-block;">
                                  <spacer size="15"></spacer>
                                  <p class="text-center playfair red" style="line-height: 140%;">“Australia’s first resort-style surfing
                                    destination, Wisemans Surf Lodge boasts a wave pool roughly the size of four
                                    football fields stacked. If that doesn’t get your primed for an Aussie summer, maybe
                                    the 9-hole golf course, 54 hotel suites, restaurant, bar and riverfront access
                                    might”</p>
                                  <p class="text-center light-gray bold" style="font-size: 10px;">CHEYNE MAGNUSSEN /
                                    CHIEF<br>HYDRO OFFICER (PSSC)</p>
                                  <spacer size="20"></spacer>
                                </td>
                                <td style="width: 20px;"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="hide-for-large">
                      <table style="width: auto;">
                        <tr>
                          <td>
                            <p class="small-text-center">A leading Australian architectural mind, Kelvin Ho’s honest and
                              relaxed design was a most welcome addition to the team at Wisemans Surf Lodge. From
                              Merivale hotspots to Bassike and Dion Lee, his creative eye has been responsible for some
                              of Sydney’s most recognisable spaces and is now fixed on bringing to life a playful
                              boutique resort with minimal environmental impact.</p>
                            <spacer size="20"></spacer>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table style="display: inline-block; background-color: #FBFBFB; ">
                              <tr>
                                <td colspan="4" style="text-align: center; background-color: #ffffff;">
                                  <img
                                    src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-team-2-tophalf.png"
                                    width="120" style="width: 120px; display: inline-block;">
                                </td>
                              </tr>
                              <tr>
                                <td style="width: 20px;"></td>
                                <td style="text-align: center;">
                                  <img
                                    src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-team-2-bottomhalf.png"
                                    width="120" style="width: 120px; display: inline-block;">
                                  <spacer size="15"></spacer>
                                  <p class="text-center playfair red">“Australia’s first resort-style surfing
                                    destination, Wisemans Surf Lodge boasts a wave pool roughly the size of four
                                    football fields stacked. If that doesn’t get your primed for an Aussie summer, maybe
                                    the 9-hole golf course, 54 hotel suites, restaurant, bar and riverfront access
                                    might”</p>
                                  <p class="text-center light-gray bold" style="font-size: 10px;">CHEYNE MAGNUSSEN /
                                    CHIEF<br>HYDRO OFFICER (PSSC)</p>
                                  <spacer size="20"></spacer>
                                </td>
                                <td style="width: 20px;"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <spacer size-lg="50" size-sm="25"></spacer>
                    <button href="#" target="_blank" class="large small-expanded">Find out more</button>
                  </td>
                  <td style="width: 20px;">
                  </td>
                </tr>
              </table>
              <spacer size-lg="60" size-sm="15"></spacer>
            </td>
          </tr>
        </table>
        <spacer size="20"></spacer>
      </columns>
    </row>
  </container>
  <!-- The Design Face End -->