<!-- Heading + Three Columns Start with Thumbnails -->
<container class="background-white">
    <row>
      <columns>
        <spacer size="40"></spacer>
        <h2 class="text-center">Larger heading</h2>
        <spacer size="20"></spacer>
        <div class="show-for-large">
          <table>
            <tr>
              <td style="text-align: center;">
                <img
                  src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-thumb-1.png"
                  width="170" style="width: 170px;">
                <spacer size="10"></spacer>
                <table style="width: 80%; display: inline-block;">
                  <tr>
                    <td>
                      <h6 class="text-center">Heading Here</h6>
                      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p>
                    </td>
                  </tr>
                </table>
              </td>
              <td style="width: 20px; text-align: center;"></td>
              <td style="text-align: center;">
                <img
                  src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-thumb-1.png"
                  width="170" style="width: 170px;">
                <spacer size="10"></spacer>
                <table style="width: 80%; display: inline-block;">
                  <tr>
                    <td>
                      <h6 class="text-center">Heading Here</h6>
                      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p>
                    </td>
                  </tr>
                </table>
              </td>
              <td style="width: 20px;"></td>
              <td style="text-align: center;">
                <img
                  src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-thumb-1.png"
                  width="170" style="width: 170px;">
                <spacer size="10"></spacer>
                <table style="width: 80%; display: inline-block;">
                  <tr>
                    <td>
                      <h6 class="text-center">Heading Here</h6>
                      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div class="hide-for-large">
          <table>
            <tr>
              <td>
                <center>
                  <img
                    src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-thumb-1.png">
                </center>
                <spacer size="20"></spacer>
                <h6 class="text-center">Heading Here</h6>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p>
                <spacer size="30"></spacer>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <img
                    src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-thumb-1.png">
                </center>
                <spacer size="20"></spacer>
                <h6 class="text-center">Heading Here</h6>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p>
                <spacer size="30"></spacer>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <img
                    src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-thumb-1.png">
                </center>
                <spacer size="20"></spacer>
                <h6 class="text-center">Heading Here</h6>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facilis!</p>
                <spacer size="30"></spacer>
              </td>
            </tr>
          </table>
        </div>
        <spacer size-lg="40"></spacer>
      </columns>
    </row>
  </container>
  <!--Heading + Three Columns Start with Thumbnails End -->