<!-- 2 Column Layout Photo Right Start -->
<container>
  <div class="show-for-large">
    <table class="background-white" style="width: 100%">
      <tr>
        <td style="width: 50%; vertical-align: middle;">
          <table style="width: 100%">
            <tr>
              <td style="width: 20px"></td>
              <td>
                <spacer size="20"></spacer>
                <h3>{{title}}</h3>
                <p>{{{paragraph}}}</p>
                <spacer size="20"></spacer>
              </td>
              <td style="width: 20px"></td>
            </tr>
          </table>
        </td>
        <td style="width: 50%;"><img src="{{img}}.png" width="300" style="width: 300px; display: inline;"></td>
      </tr>
    </table>
  </div>
</container>
<container>
  <row>
    <columns>
      <div class="hide-for-large">
        <table class="background-white" style="width: 100%">
          <tr>
            <td style="text-align: center;"><img src="{{img}}-mob.png" style="display: inline-block;">
            </td>
          </tr>
        </table>
        <table class="background-white" style="width: 100%">
          <tr>
            <td>
              <spacer size="30"></spacer>
              <h3 class="text-center">{{title}}</h3>
              <spacer size="5"></spacer>
              <p>{{{paragraph}}}</p>
              <spacer size="30"></spacer>
            </td>
          </tr>
        </table>
      </div>
    </columns>
  </row>
</container>

<!-- 2 Column Layout Photo Right End -->