<!-- YouTube Container Start -->
<container>
    <row>
      <columns>
        <spacer size="50"></spacer>
        <table class="background-white">
          <tr>
            <td style="width: 40px;">
            </td>
            <td>
              <spacer size="40"></spacer>
              <h2 class="text-center secondary-color">Hi name,</h2>
              <spacer size="5"></spacer>
              <p class="text-center">If you missed the Wisemans’ webinar and were interested to see the presentation
                and
                Q&A, please follow the link below.</p>
              <spacer size="20"></spacer>
              <center>
                <img
                  src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-youtube-1.png"
                  width="408" style="width: 408px;">
              </center>
              <spacer size="20"></spacer>
              <center>
                <button href="#" target="_blank" class="youtube primary no-border">Wisemans Surf Lodge webinar</button>
              </center>
              <spacer size="60"></spacer>
            <td style="width: 40px;">
            </td>
          </tr>
        </table>
        <spacer size="40"></spacer>
      </columns>
    </row>
  </container>
  <!-- YouTube Container End -->