<!-- Body Copy Start -->
<container>
    <row>
      <columns>
        <table class="background-white">
          <tr>
            <td style="width: 20px;">
            </td>
            <td>
              <spacer size="40"></spacer>
              <h2 class="text-center secondary-color">Hi \{{ personalization_token("contact.firstname", "there") }},</h2>
              <spacer size="15"></spacer>
              <!-- <p class="text-center">If you dream of empty lineups and that feeling of freedom you only get on a surf
                trip, you’re not alone. Hungry for perfect A-frames, we went searching for a solution to crowded waves –
                something that would redefine the Sydney surf experience.</p> -->
              <!-- <spacer size="15"></spacer> -->