<!-- The Return Start -->
<container>
    <row>
      <columns>
        <table class="background-white">
          <tr>
            <td>
              <spacer size="30"></spacer>
              <h2 class="text-center secondary-color">The Return</h2>
              <spacer size="20"></spacer>
              <table class="background-white">
                <tr>
                  <td style="width: 20px;">
                  </td>
                  <td style="text-align: center;">
                    <img
                      src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-image-graph-1.png"
                      width="512" style="width: 512px; display: inline;">
                    <spacer size="40"></spacer>
                    <p class="text-center">Wisemans Surf Lodge presents an opportunity for asset ownership, a return
                      profile and private usage. An investment trust has been created and we anticipate that there will
                      be a Product Disclosures Statement released in the first half of 2021. The Wisemans Surf Lodge
                      will be operated by BALNCE and will earn revenues from annual memberships, corporate and private
                      event sales, food and beverage and any ancillary revenues. From its revenue generation, BALNCE
                      will pay rent to the investment trust, generating an annual yield for investors.</p>
                    <spacer size="50"></spacer>
                    <h3 class="text-center secondary-color">If you’re interested in taking up this special investment
                      opportunity, let’s
                      chat.</h3>
                    <spacer size="30"></spacer>
                    <button href="#" target="_blank" class="large small-expanded">Let’s Chat</button>
                  </td>
                  <td style="width: 20px;">
                  </td>
                </tr>
              </table>
              <spacer size-lg="70" size-sm="15"></spacer>
            </td>
          </tr>
        </table>
        <spacer size="20"></spacer>
      </columns>
    </row>
  </container>
  <!-- The Return End -->