<!-- 2 Buttons - Register | Find Out More Start -->
<container>
    <row>
      <columns>
        <center>
          <div style="width: 100%">
            <div class="show-for-large">
              <table>
                <tr>
                  <td style="text-align: center;"> <button href="{{url-1}}" target="_blank"
                      class="">{{cta-1}}</button></td>
                  <td style="width: 5px;"></td>
                  <td style="text-align: center;"> <button href="{{url-2}}" target="_blank"
                      class="hollow">{{cta-2}}</button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="hide-for-large">
              <table>
                <tr>
                  <td style="text-align: center;"> <button href="{{url-1}}" target="_blank"
                      class="small-expanded">{{cta-1}}</button></td>
                </tr>
                <tr>
                  <td>
                    <spacer size="5"></spacer>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center;"> <button href="{{url-2}}" target="_blank" class="small-expanded hollow">{{cta-2}}</button>
                </tr>
              </table>
            </div>
          </div>
        </center>
      </columns>
    </row>
  </container>
  <!-- 2 Buttons - Register | Find Out More End -->