<!-- Webinar Start -->
<container>
    <row>
      <columns>
        <spacer size="50"></spacer>
        <table class="background-white">
          <tr>
            <td style="width: 40px;">
            </td>
            <td>
              <spacer size="40"></spacer>
              <h2 class="text-center secondary-color">Wisemans Surf Lodge webinar</h2>
              <spacer size="20"></spacer>
              <div class="show-for-large">
                <center>
                  <table style="width: auto;">
                    <tr>
                      <td>
                        <p class="text-center bold" style="color: #C5AE90; font-size: 34px; line-height: 1;">14/03/21
                        </p>
                      </td>
                      <td style="width: 100px;"></td>
                      <td>
                        <p class="text-center bold" style="color: #C5AE90; font-size: 34px; line-height: 1;">12:30pm</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="text-center">Date</p>
                      </td>
                      <td style="width: 100px;"></td>
                      <td>
                        <p class="text-center">Time</p>
                      </td>
                    </tr>
                  </table>
                </center>
              </div>
              <div class="hide-for-large">
                <center>
                  <table style="width: auto;">
                    <tr>
                      <td>
                        <p class="text-center bold" style="color: #C5AE90; font-size: 34px; line-height: 1;">14/03/21
                        </p>
                        <p class="text-center">Date</p>
                      </td>
                    <tr>
                      <td>
                        <spacer size="10"></spacer>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="text-center bold" style="color: #C5AE90; font-size: 34px; line-height: 1;">12:30pm</p>
                        <p class="text-center">Time</p>
                      </td>
                    </tr>
                  </table>
                </center>
              </div>
              <spacer size="20"></spacer>
              <center>
                <button href="#" target="_blank" class="large small-expanded">RSVP</button>
              </center>
              <spacer size="20"></spacer>
            <td style="width: 40px;">
            </td>
          </tr>
        </table>
        <spacer size-lg="40" size-sm="15"></spacer>
      </columns>
    </row>
  </container>
  <!-- Webinar End -->