  <!-- More Information Required Start -->
  <container>
    <row>
      <columns>
        <spacer size="20"></spacer>
        <center>
          <table bgcolor="#FFFFFF" style="background-color: #FFF; width: 85%;">
            <tr>
              <td>
                <spacer size="40"></spacer>
                <h4 class="text-center">More information required</h4>
                <spacer size="35"></spacer>
              </td>
            </tr>
          </table>
        </center>
        <spacer size="30"></spacer>
      </columns>
    </row>
  </container>
  <!-- More Information End Start -->