<!-- Footer Start -->
<container class="background-white">
  <row>
    <columns>
      <spacer size="30"></spacer>
      <center>
        <table style="width: auto;">
          <tr>
           <td style="width: 30px;"></td>
            <td style="vertical-align: middle;">
              <a href="#" target="_blank" style="text-decoration: none;">
                <img
                  src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-footer-icon-2.png"
                  width="18" alt="Facebook"
                  style="width: 18px; display: inline; font-family: 'Inter','Arial', sans-serif; font-size: 10px; color: #EA5330;"></a>
            </td>
            <td style="width: 30px;"></td>
            <td style="vertical-align: middle;">
              <a href="#" target="_blank" style="text-decoration: none;">
                <img
                  src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-footer-icon-3.png"
                  width="20" alt="YouTube"
                  style="width: 20px; display: inline; font-family: 'Inter','Arial', sans-serif; font-size: 10px; color: #EA5330;"></a>
            </td>
            <td style="width: 30px;"></td>
            <td style="vertical-align: middle;">
              <a href="#" target="_blank" style="text-decoration: none;">
                <img
                  src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-footer-icon-4.png"
                  width="19" alt="Instagram"
                  style="width: 19px; display: inline; font-family: 'Inter','Arial', sans-serif; font-size: 10px; color: #EA5330;"></a>
            </td>
          </tr>
        </table>
      </center>
      <spacer size="30"></spacer>
    </columns>
  </row>
</container>
<container class="background-light-gray">
  <row>
    <columns>
      <spacer size="30"></spacer>
      <p class="secondary-color inter small-text-center" style="font-size: 10px;"><strong>This is email was sent to [recipients email address]</strong></p>
      <spacer size="10"></spacer>
      <p class="secondary-color inter small-text-center" style="font-size: 10px;">No longer want to receive these emails? - <a href="\{{ unsubscribe_link }}" target="_blank" style="color: #EA5330; text-decoration: none; font-weight: 600;">Unsubscribe</a></p>
      <spacer size="10"></spacer>
      <p class="secondary-color inter small-text-center" style="font-size: 10px;">Any product information is provided on a general advice basis only. Any
        advice has
        been prepared without taking into account an investors objective, financial situation or needs. The investor
        should then consider the appropriateness of the advice in light of their own circumstances before following the
        advice and seek professional personal advice from a financial adviser. Investors should ensure they obtain a
        copy of the <a href="#" target="_blank">Information Memorandum</a> or <a href="#" target="_blank">Product Disclosure Statement</a> and read it in its entirety before making an
        application to invest. If you believe you have received this email in error please immediately delete this email
        and destroy its contents.
      </p>
      <spacer size="20"></spacer>
    </columns>
  </row>
</container>
<container class="background-white">
  <row>
    <columns>
    <spacer size="30"></spacer>
    <center>
      <p class="secondary-color text-center inter" style="display: inline-block; font-size: 10px;">
        <strong>© 2021 \{{ site_settings.company_name }} ABN xxxxxxxxx</strong><br>
        \{{ site_settings.company_street_address_1 }}<br>
        \{{ site_settings.company_state }}<br>
        \{{ site_settings.company_city }}<br>
      </p>
    </center>
<spacer size="20"></spacer>
</columns>
</row>
</container>
<spacer size="30"></spacer>
<!-- Footer End -->
</wrapper>