  <!-- Header Logo Start -->
  <container>
    <row>
      <columns>
        <spacer size="20"></spacer>
        <center>
          <img src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-logo.png"
            width="150" alt="Wisemans Surf Lodge"
            style="width: 150px; font-family:'Playfair Display',  Georgia , serif; font-size: 20px; font-weight: 400; line-height: 1;">
        </center>
        <spacer size="10"></spacer>
      </columns>
    </row>
  </container>
  <!-- Header Logo End -->