<!-- Header Logo Start -->
<container>
  <spacer size-lg="0" size-sm="0"></spacer>
  <div class="show-for-large">
    <center>
        <img src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-logo-darkmode-1.png"
            width="600" alt="Wisemans Surf Lodge"
            style="width: 600px; font-family:'Playfair Display',  Georgia , serif; font-size: 20px; font-weight: 400; line-height: 1;">
    </center>
  </div>
  <div class="hide-for-large">
    <center>
        <img src="https://f.hubspotusercontent30.net/hubfs/8837988/Wiseman%20eDM%20images/wiseman-logo-darkmode-mobile.png"
            width="625" alt="Wisemans Surf Lodge"
            style="width: 625px; font-family:'Playfair Display',  Georgia , serif; font-size: 20px; font-weight: 400; line-height: 1;">
    </center>
  </div>
<row>
<columns>
  <spacer size-lg="30" size-sm="35"></spacer>
    <h2 class="text-center secondary-color">{{copy}}</h2>
  <spacer size="24"></spacer>
</columns>
</row>
</container>
<!-- Header Logo End -->