<!-- Image Header Start -->
<container>
    <row>
        <columns>
            <div class="hide-for-large">
                <center>
                    <a href="https://preview.wisemans.surf" target="_blank"><img src="{{image-mobile-url}}"></a>
                </center>
            </div>
            <div class="show-for-large">
                <center>
                    <a href="https://preview.wisemans.surf" target="_blank"><img src="{{image-desktop-url}}" width="552" style="width: 552px;"></a>
                </center>
            </div>
        </columns>
    </row>
</container>
<!-- Image Header End -->