<!-- Sky Lodge for Surgers Start -->
<container>
    <row>
      <columns>
        <table class="background-white">
          <tr>
            <td style="width: 40px;">
            </td>
            <td>
              <spacer size="40"></spacer>
              <h3 class="text-center secondary-color">Think of it as a ski lodge for surfers – combining uncrowded<br>A-frame waves with resort-style amenities</h3>
              <spacer size="30"></spacer>
            </td>
            <td style="width: 40px;">
            </td>
          </tr>
        </table>
      </columns>
    </row>
  </container>
  <!-- Sky Lodge for Surgers End -->